@model HadankyScaffolded.Models.Hadanky

@{
    ViewData["Title"] = "Odstranit";
}

<h1>Odstranit</h1>

<h3>Určitě má být hádanka odstraněna?</h3>
<div>
    <h4>Hádanka:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otazka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otazka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Odpoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Odpoved)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Odstranit" class="btn btn-danger" /> |
        <a asp-action="Index">Zpět</a>
    </form>
</div>
